@import "tailwindcss";
@config "./tailwind.config.js";

@layer utilities {
  .mask-linear-fade {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }

  .border-beam {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    border: 1px solid transparent;
    mask-clip: border-box;
    -webkit-mask-clip: border-box;
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    mask-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
    -webkit-mask-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
  }

  .border-beam::after {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    width: calc(100% + 1rem);
    offset-path: rect(0 auto auto 0 round calc(var(--rx) + 10px));
    animation: border-beam 8s infinite linear;
    background: linear-gradient(to left, transparent, #0055FF, transparent);
    offset-anchor: 50% 50%;
  }
}